In [2]:
import os
import io
import json
import numpy as np
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [9]:
file_path = Path("SPY.csv")
hist_price = pd.read_csv(file_path)

In [10]:
hist_price

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-02-07,408.869995,416.489990,407.570007,415.190002,408.974152,90990700
1,2023-02-08,413.130005,414.529999,409.929993,410.649994,404.502075,76227500
2,2023-02-09,414.410004,414.570007,405.809998,407.089996,400.995422,78694900
3,2023-02-10,405.859985,408.440002,405.010010,408.040009,401.931183,70769700
4,2023-02-13,408.720001,412.970001,408.239990,412.829987,406.649475,64913500
...,...,...,...,...,...,...,...
246,2024-01-31,488.619995,489.079987,482.859985,482.880005,482.880005,126011100
247,2024-02-01,484.630005,489.230011,483.799988,489.200012,489.200012,91891600
248,2024-02-02,489.649994,496.049988,489.299988,494.350006,494.350006,99147700
249,2024-02-05,493.700012,494.380005,490.230011,492.549988,492.549988,75757100
250,2024-02-06,493.519989,494.320007,492.049988,493.980011,493.980011,55918600